/.vs/Number.Converter/v15
/.vs/Number.Converter/DesignTimeBuild
/Number.Converter.Tests/bin/Debug/netcoreapp2.1
/Number.Converter.Tests/obj/Debug/netcoreapp2.1
/Number.Converter.Tests/obj
/Number.Converter/bin/Debug/netcoreapp2.1
/Number.Converter/obj/Debug/netcoreapp2.1
/Number.Converter/obj
